* {
  padding: 0px;
  margin: auto;
  font-family: "IM_Hyemin-Bold";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main h1 {
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  border: 1px solid black;
  padding: 10px;
}

.card {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
  height: 100px;
  perspective: 140px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front {
  background: navy;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  backface-visibility: hidden;

  border-radius: 5px;
  border:2px solid black;
}

.card-back {
  transform: rotateY(180deg);
}

@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
