* {
  padding: 0px;
  margin: auto;
  font-family: "IM_Hyemin-Bold";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main h1 {
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  border: 1px solid black;
  padding: 10px;
}

.card {
  background-color: black;
  height: 80px;
  width: 50px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
